.inner-content {
  margin-top: 26px;
  padding: 24px 24px 0 0;
  background: #fff;
  height: 100%;
}
.imageUpload,
.details {
  border: 1px solid rgb(192, 188, 188);
}
.imageUpload {
  padding: 10px;
}
nz-upload {
  height: 220px !important;
}
.details {
  text-align: center;
  padding-top: 20px;
}
form {
  margin-top: 40px;
}
.tag {
  display: flex;
}
button {
  width: 39%;
  display: flex;
  margin: auto;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
  /* margin-right: 20px; */
}
:host ::ng-deep .avatar-uploader > .ant-upload {
  width: 128px;
  height: 128px;
}
.subashthapa {
  height: 200px;
  color: blue;
}
.gallery {
  width: 100%;
  display: block;
  justify-content: center;
  border-right: 1px solid rgb(192, 188, 188);
}
.image {
  width: 100px;
}
.gallery [nz-col] {
  margin: 10px 10px;
}
.details {
  margin-top: 20px;
}
