<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="200px"
    nzBreakpoint="sm"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo" />
        <h1>Photos Nepal</h1>
      </a>
    </div>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li nz-menu-item nzTitle="Dashboard" nzIcon="dashboard">
        <a [routerLink]="['home']">
          <i nz-icon nzType="dashboard"></i> <span>Dashboard</span>
        </a>
      </li>
      <li nz-submenu nzTitle="Photos" nzIcon="camera">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['add-photo']">Add Photos</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Approve Photos</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Photos Category</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Users" nzIcon="user">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Users</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout class="right-layout">
    <nz-header>
      <div class="app-header">
        <!--<span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          ></i>
        </span>-->
      </div>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
