<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="200px"
    nzBreakpoint="sm"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo" />
        <h1>Photos Nepal</h1>
      </a>
    </div>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li nz-menu-item nzTitle="Dashboard" nzIcon="dashboard">
        <a [routerLink]="['home']">
          <i nz-icon nzType="dashboard"></i> <span>Dashboard</span>
        </a>
      </li>
      <li nz-submenu nzTitle="Photos" nzIcon="camera">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['add-photo']">Add Photos</a>
          </li>

          <li nz-menu-item nzMatchRouter>
            <a>Photos Category</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout class="right-layout">
    <nz-header>
      <div class="app-header">
        <div class="header-left">
          <a [routerLink]="'/add-photo'">
            <button nz-button nzShape="round" nzType="primary">
              Upload Photos
            </button>
          </a>
        </div>
        <div class="header-right">
          <div class="header-right-content">
            <div class="notification">
              <a nz-dropdown [nzDropdownMenu]="menu1">
                <i
                  nz-icon
                  nzType="bell"
                  style="font-size: 24px; color: #08c"
                ></i
              ></a>
              <nz-dropdown-menu #menu1="nzDropdownMenu">
                <nz-list nzBordered nz-menu>
                  <nz-list-item class="notify" *ngFor="let item of data">
                    {{ item }}
                    <span nz-typography><mark>4 hours Ago</mark></span>
                  </nz-list-item>
                </nz-list>
              </nz-dropdown-menu>
            </div>
            <div class="userAccount">
              <a nz-dropdown [nzDropdownMenu]="menu">
                <nz-avatar nzIcon="user"></nz-avatar>
              </a>
            </div>
          </div>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li nz-menu-item>
                <i nz-icon nzType="user" style="color: black"></i> My Profile
              </li>
              <li nz-menu-divider></li>
              <li nz-menu-item>
                <i nz-icon nzType="setting" style="color: black"></i> Settings
              </li>
              <li nz-menu-divider></li>
              <li nz-menu-item>
                <i nz-icon nzType="logout" style="color: black"></i> Logout
              </li>
            </ul>
          </nz-dropdown-menu>
        </div>

        <!--<span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          ></i>
           <a nz-dropdown [nzDropdownMenu]="menu">
      Hover me
      <i nz-icon nzType="down"></i>
    </a>

        </span>-->
      </div>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
